
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-5-nrK {
  width: 100%;
  height: 93.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.iphone-14-15-pro-max-5-nrK .auto-group-vjf5-7tb {
  width: 40.4rem;
  height: 45.9rem;
  position: absolute;
  left: 1rem;
  top: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-vjf5-7tb .logo-5-rLP {
  width: 36.4rem;
  height: 32.2rem;
  position: absolute;
  left: 2.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-5-nrK .auto-group-vjf5-7tb .download-4-2-xuD {
  width: 17.6rem;
  height: 23.1rem;
  position: absolute;
  left: 22.8rem;
  top: 19.5rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-5-nrK .auto-group-vjf5-7tb .download-7-2-tXy {
  width: 22.3rem;
  height: 23.4rem;
  position: absolute;
  left: 0;
  top: 19.7rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX {
  width: 39.9rem;
  height: 15rem;
  position: absolute;
  left: 1.5rem;
  top: 80rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-gneb-AEb {
  box-sizing: border-box;
  padding: 0.3rem 0.7rem 0.3rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-gneb-AEb .auto-group-2tzu-tRV {
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-gneb-AEb .auto-group-2tzu-tRV .rs-2500-FQT {
  margin: 0rem 0rem 1.6rem 2.5rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-gneb-AEb .auto-group-2tzu-tRV .download-4-1-X75 {
  width: 8.5rem;
  height: 7.4rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-gneb-AEb .download-6-1-TFd {
  margin-top: 2.5rem;
  width: 5.3rem;
  height: 6.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-7edm-Pf5 {
  width: 21.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-7edm-Pf5 .images-1-9eF {
  width: 13.3rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: 2.5rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-7edm-Pf5 .menu-UwR {
  width: 7.2rem;
  height: 5.6rem;
  position: absolute;
  left: 14.1rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-5-nrK .auto-group-ayhq-pgX .auto-group-7edm-Pf5 .rs-1300-Bqq {
  width: 9.7rem;
  height: 3.2rem;
  position: absolute;
  left: 6.7rem;
  top: 0;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-5-nrK .auto-group-sj2o-tkF {
  width: 38.9rem;
  height: 20.9rem;
  position: absolute;
  left: 0.9rem;
  top: 53.4rem;
  display: flex;
  align-items: flex-end;
}
.iphone-14-15-pro-max-5-nrK .auto-group-sj2o-tkF .download-5-1-pdu {
  margin-right: 3.6rem;
  width: 19.4rem;
  height: 19.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-sj2o-tkF .download-6-2-ASs {
  width: 15.9rem;
  height: 20.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-erjh-Wmd {
  width: 30.2rem;
  height: 3.2rem;
  position: absolute;
  left: 7.9rem;
  top: 44.1rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-5-nrK .auto-group-erjh-Wmd .laptop-3mZ {
  margin-right: 12.7rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-erjh-Wmd .iphone-93u {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-u4ky-g3q {
  width: 38.4rem;
  height: 3.2rem;
  position: absolute;
  left: 1.5rem;
  top: 76rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-5-nrK .auto-group-u4ky-g3q .smart-watch-Cns {
  margin-right: 6.1rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-u4ky-g3q .headphones-9CK {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-7c2s-UVV {
  width: 34rem;
  height: 3.2rem;
  position: absolute;
  left: 5.6rem;
  top: 48.2rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-5-nrK .auto-group-7c2s-UVV .rs-85000-zyd {
  margin-right: 10.2rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #322b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .auto-group-7c2s-UVV .rs-90000-v6b {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-5-nrK .back-pSs {
  width: 4.7rem;
  height: 6.2rem;
  cursor: pointer;
  position: absolute;
  left: 0.9rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
