
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-7-P1y {
  width: 100%;
  height: 93.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.iphone-14-15-pro-max-7-P1y .auto-group-x3d9-iK9 {
  width: 39rem;
  height: 43.3rem;
  position: absolute;
  left: 2.4rem;
  top: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-x3d9-iK9 .logo-5-TGj {
  width: 36.4rem;
  height: 32.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-7-P1y .auto-group-x3d9-iK9 .download-12-1-9fM {
  width: 18rem;
  height: 19.5rem;
  position: absolute;
  left: 21rem;
  top: 21.2rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-7-P1y .auto-group-x3d9-iK9 .download-11-1-5Z1 {
  width: 18rem;
  height: 19.5rem;
  position: absolute;
  left: 0;
  top: 21.2rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R {
  width: 39.9rem;
  height: 14.3rem;
  position: absolute;
  left: 1.5rem;
  top: 81.5rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-uw8f-wbD {
  box-sizing: border-box;
  padding-right: 0.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-uw8f-wbD .auto-group-ieb9-VMq {
  margin-bottom: 2.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-uw8f-wbD .auto-group-ieb9-VMq .rs-800-Qzb {
  margin-bottom: 1.2rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-uw8f-wbD .auto-group-ieb9-VMq .download-4-1-iVV {
  margin-right: 4.1rem;
  width: 8.5rem;
  height: 7.4rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-uw8f-wbD .download-6-1-SgP {
  margin-top: 1.8rem;
  width: 5.3rem;
  height: 6.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-azz7-BP5 {
  width: 21.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-azz7-BP5 .images-1-w7M {
  width: 13.3rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-azz7-BP5 .menu-fZ9 {
  width: 7.2rem;
  height: 5.6rem;
  position: absolute;
  left: 14.1rem;
  top: 5.3rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-7-P1y .auto-group-hvgf-D9R .auto-group-azz7-BP5 .rs-250-mcB {
  width: 8rem;
  height: 3.2rem;
  position: absolute;
  left: 7.6rem;
  top: 0;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-7-P1y .auto-group-rsm5-UmV {
  width: 39rem;
  height: 21.6rem;
  position: absolute;
  left: 2.4rem;
  top: 54.1rem;
  display: flex;
  align-items: flex-end;
}
.iphone-14-15-pro-max-7-P1y .auto-group-rsm5-UmV .images-4-1-p4f {
  margin-right: 3rem;
  width: 18rem;
  height: 21.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-rsm5-UmV .images-3-1-9sd {
  width: 18rem;
  height: 21.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-ezxb-heF {
  width: 30.6rem;
  height: 3.2rem;
  position: absolute;
  left: 6.4rem;
  top: 42.8rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-7-P1y .auto-group-ezxb-heF .jeans-QYf {
  margin-right: 14rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-ezxb-heF .hoodie-KQj {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-aprr-47R {
  width: 29.9rem;
  height: 3.2rem;
  position: absolute;
  left: 6.4rem;
  top: 77.8rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-7-P1y .auto-group-aprr-47R .kurti-abZ {
  margin-right: 14.9rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-aprr-47R .t-shirt-iSs {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-kwmd-3zw {
  width: 30.1rem;
  height: 3.2rem;
  position: absolute;
  left: 6.4rem;
  top: 46.6rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-7-P1y .auto-group-kwmd-3zw .rs-650-NXR {
  margin-right: 13.6rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .auto-group-kwmd-3zw .rs-300-sUB {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-7-P1y .back-QDD {
  width: 4.7rem;
  height: 6.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 4.6rem;
  object-fit: contain;
  vertical-align: top;
}
