
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-6-xHV {
  width: 100%;
  height: 93.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.iphone-14-15-pro-max-6-xHV .auto-group-xdhq-5su {
  width: 39.9rem;
  height: 41.4rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-xdhq-5su .logo-5-pqV {
  width: 36.4rem;
  height: 32.2rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-6-xHV .auto-group-xdhq-5su .download-8-1-iR5 {
  width: 17.9rem;
  height: 17rem;
  position: absolute;
  left: 0;
  top: 21.1rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-6-xHV .auto-group-xdhq-5su .download-9-1-EuD {
  width: 18.4rem;
  height: 17rem;
  position: absolute;
  left: 21.5rem;
  top: 21.1rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T {
  width: 39.9rem;
  height: 15.6rem;
  position: absolute;
  left: 1.5rem;
  top: 79.5rem;
  display: flex;
  align-items: flex-start;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-9hdq-gmD {
  margin-right: 0.7rem;
  width: 17.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-9hdq-gmD .rs-100-2aB {
  margin: 0rem 0rem 2.5rem 0.4rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-9hdq-gmD .auto-group-sepy-L55 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-9hdq-gmD .auto-group-sepy-L55 .download-4-1-f7M {
  margin-right: 4.1rem;
  width: 8.5rem;
  height: 7.4rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-9hdq-gmD .auto-group-sepy-L55 .download-6-1-nhm {
  margin-bottom: 0.1rem;
  width: 5.3rem;
  height: 6.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-badd-v3H {
  width: 21.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-badd-v3H .images-1-FrF {
  width: 13.3rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: 3.1rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-badd-v3H .menu-b9R {
  width: 7.2rem;
  height: 5.6rem;
  position: absolute;
  left: 14.1rem;
  top: 6.6rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-6-xHV .auto-group-rbwp-m8T .auto-group-badd-v3H .rs-250-JJj {
  width: 8rem;
  height: 3.2rem;
  position: absolute;
  left: 8.1rem;
  top: 0;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-6-xHV .auto-group-p7mr-mCK {
  width: 39rem;
  height: 17rem;
  position: absolute;
  left: 2.4rem;
  top: 55.9rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-6-xHV .auto-group-p7mr-mCK .download-1-2-tnj {
  margin-right: 3.6rem;
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-p7mr-mCK .download-10-1-Rnf {
  width: 18.4rem;
  height: 17rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-g9w5-y3V {
  width: 32.4rem;
  height: 10.3rem;
  position: absolute;
  left: 5.5rem;
  top: 41.6rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-6-xHV .auto-group-g9w5-y3V .auto-group-x5jw-tw9 {
  margin: 1.6rem 11rem 0.9rem 0rem;
  height: calc(100% - 2.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-g9w5-y3V .auto-group-x5jw-tw9 .lipstick-nmd {
  margin-bottom: 1.4rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-g9w5-y3V .auto-group-x5jw-tw9 .rs-200-KFm {
  margin-right: 0.8rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-g9w5-y3V .auto-group-npnk-dXM {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-g9w5-y3V .auto-group-npnk-dXM .compact-powder-zco {
  margin-bottom: 0.7rem;
  max-width: 11.5rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-g9w5-y3V .auto-group-npnk-dXM .rs-150-KQB {
  margin-left: 0.4rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #332b29;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-orj1-exF {
  width: 33.5rem;
  height: 3.2rem;
  position: absolute;
  left: 5.8rem;
  top: 75.2rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-6-xHV .auto-group-orj1-exF .eyeliner-ZJX {
  margin-right: 9.2rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .auto-group-orj1-exF .foundation-5Gs {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6-xHV .back-CsH {
  width: 4.7rem;
  height: 6.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3.9rem;
  object-fit: contain;
  vertical-align: top;
}
