
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-4-hpK {
  box-sizing: border-box;
  padding: 0 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ie3y-25u {
  margin-right: 1.1rem;
  width: 40.9rem;
  height: 30rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ie3y-25u .logo-4-kGo {
  width: 34.8rem;
  height: 30rem;
  position: absolute;
  left: 3.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ie3y-25u .rectangle-3-ssD {
  width: 39.9rem;
  height: 5.4rem;
  position: absolute;
  left: 1rem;
  top: 18.4rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ie3y-25u .download3-removebg-preview-1-zS3 {
  width: 9.4rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 17.2rem;
  object-fit: cover;
  vertical-align: top;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ie3y-25u .search-XB5 {
  width: 10.2rem;
  height: 3.9rem;
  position: absolute;
  left: 8.9rem;
  top: 19.2rem;
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ie3y-25u .back-bRq {
  width: 4.7rem;
  height: 6.2rem;
  position: absolute;
  left: 0;
  top: 4.8rem;
  object-fit: contain;
  vertical-align: top;
}
.iphone-14-15-pro-max-4-hpK .auto-group-fkvo-vyu {
  margin: 0rem 1.1rem 5rem 1rem;
  width: calc(100% - 2.1rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-fkvo-vyu .images-6-1-ShM {
  margin-right: 5.3rem;
  width: 17.9rem;
  height: 12rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-fkvo-vyu .download-7-1-yBV {
  width: 16.7rem;
  height: 12.7rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-uey5-HT5 {
  margin: 0rem 3.9rem 7.3rem 3.2rem;
  width: calc(100% - 7.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-uey5-HT5 .electronics-PW7 {
  margin-right: 8.3rem;
  cursor: pointer;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-uey5-HT5 .cosmetics-7S7 {
  cursor: pointer;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-gnpp-EWj {
  margin: 0rem 1.1rem 5.8rem 1rem;
  width: calc(100% - 2.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-gnpp-EWj .images-2-1-mFm {
  margin-right: 5.3rem;
  width: 17.9rem;
  height: 12.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-gnpp-EWj .download-1-1-JFh {
  width: 16.7rem;
  height: 12.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-z8dm-pzj {
  margin: 0rem 4.7rem 4.6rem 4.7rem;
  width: calc(100% - 9.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-z8dm-pzj .fashion-Xu9 {
  margin-right: 10.3rem;
  cursor: pointer;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-z8dm-pzj .stationary-dxB {
  cursor: pointer;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ygjz-Nes {
  margin: 0rem 1.1rem 0rem 1rem;
  width: calc(100% - 2.1rem);
  height: 12.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ygjz-Nes .auto-group-cbrx-HWw {
  box-sizing: border-box;
  padding: 2.6rem 0.7rem 2.5rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ygjz-Nes .auto-group-cbrx-HWw .download-4-1-Cdu {
  margin-right: 4.1rem;
  width: 8.5rem;
  height: 7.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ygjz-Nes .auto-group-cbrx-HWw .download-6-1-u2X {
  margin-bottom: 0.1rem;
  width: 5.3rem;
  height: 6.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ygjz-Nes .images-1-D3D {
  margin-right: 0.8rem;
  width: 13.3rem;
  height: 12.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-4-hpK .auto-group-ygjz-Nes .menu-jGT {
  margin-top: 0.1rem;
  width: 7.2rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
