
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-2-39Z {
  width: 100%;
  height: 93.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .logo-2-kpf {
    object-fit: cover;
    vertical-align: top;
    width: 37.6rem;
    height: 26rem;
    position: absolute;
    left: 2.7rem;
    top: 0.9rem;
  }
  .rectangle-6-5M9 {
    width: 40rem;
    height: 53.6rem;
    left: 1.5rem;
    top: 22.5rem;
    border: solid 0.1rem #191818;
    box-sizing: border-box;
    border-radius: 1rem;
    position: absolute;
    background-color: #ffffff;
  }
  .rectangle-3-N5M {
    top: 29.7rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
    width: 36.8rem;
    height: 5.9rem;
    position: absolute;
    left: 3.1rem;
  }
  .rectangle-4-HCK {
    width: 36.8rem;
    height: 5.9rem;
    position: absolute;
    left: 3.1rem;
    top: 44.1rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
  }
  .email-address-NjZ {
    width: 16rem;
    height: 3.2rem;
    left: 3.1rem;
    font-size: 2.4rem;
    white-space: nowrap;
    position: absolute;
    top: 26.1rem;
    font-weight: 400;
    line-height: 1.3025;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
  }
  .password-Tm1 {
    width: 10.7rem;
    height: 3.2rem;
    font-weight: 400;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    position: absolute;
    left: 3.1rem;
    top: 40.5rem;
    font-size: 2.4rem;
    line-height: 1.3025;
    white-space: nowrap;
  }
  .forgot-password-AQX {
    height: 4rem;
    font-weight: 400;
    white-space: nowrap;
    width: 24.6rem;
    left: 3.1rem;
    top: 52.8rem;
    font-size: 3rem;
    line-height: 1.3025;
    color: #0c1ec8;
    font-family: Inika, 'Source Sans Pro';
    position: absolute;
  }
  .rectangle-5-dou {
    width: 23.3rem;
    height: 8.7rem;
    position: absolute;
    left: 9.8rem;
    top: 61.6rem;
    background-color: #7efedf;
    border-radius: 1.5rem;
  }
  .log-in-jc3 {
    cursor: pointer;
    top: 63.6rem;
    font-size: 3.6rem;
    color: #000000;
    font-family: Inika, 'Source Sans Pro';
    width: 10.7rem;
    height: 4.7rem;
    position: absolute;
    left: 16.1rem;
    font-weight: 400;
    line-height: 1.3025;
    white-space: nowrap;
  }
  .eye-zH5 {
    width: 6.7rem;
    height: 4.5rem;
    position: absolute;
    left: 32rem;
    top: 44.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .back-vAj {
    width: 4.7rem;
    height: 6.2rem;
    cursor: pointer;
    position: absolute;
    left: 1.5rem;
    top: 4.3rem;
    object-fit: contain;
    vertical-align: top;
  }
}
